:root{
	--gray: rgb(205, 205, 205);
	--shadow: rgba(0, 0, 0, 0.17);
}

body, button{
	color: rgb(90, 90, 90);
	font-family: "RodinNTLG Pro";
}

h2, h3{
	font-family: "NewRodin Pro";
}

h2{
	font-size: 24px;
	font-weight: 900;
	line-height: 24px;
}

h3{
	font-size: 21px;
	font-weight: 900;
	line-height: 24px;
}

h4, li, button{
	font-size: 17px;
	font-weight: 500;
	line-height: 19px;
}

.title{
	width: fit-content;
	margin: 30px auto 10px auto;
}

.desc{
	width: 80vw;
	margin: 0px auto 15px auto;
	font-size: 17px;
	text-align: center;
}

.searchTitle{
	width: 350px;
	margin: 0px auto 10px auto;
	padding: 10px 0px 0px 0px;
	border-top: solid 1.5px var(--gray);
	text-align: center;
}

.inpCont{
	width: fit-content;
	margin: 0px auto 10px auto;
	padding: 0px 10px 18px 10px;
	border-bottom: solid 1.5px var(--gray);
}

.searchInput{
	width: fit-content;
	margin: 0px auto 8px auto;
}

.searchInput > input{
	width: 200px;
	border: solid 1.5px var(--gray);
	border-radius: 3px;
}

.searchBtn{
	margin: 12px auto 0px auto;
	padding: 3px 10px;
	display: block;
	border: solid 3px var(--gray);
	border-radius: 12px;
	background-color: #EEEEEE;
}

.searchBtn:active{
	background-color: #E3E3E3;
}

.dataCont{
	margin: 30px 0px 50px 0px;
}

.dataCont > div{
	height: 54px;
	width: 300px;
	margin: 0px auto 10px auto;
	padding: 20px;
	display: block;
	border-radius: 25px;
	background-color: white;
	box-shadow: 0px 5px 30px 5px var(--shadow);
	overflow: hidden;
	cursor: pointer;
}

.dataDivOpen{
	height: fit-content !important;
	padding: 20px 20px 9px 20px !important;
}

.dataCont > div > h3{
	margin: 0px 0px 10px 0px;
}

.dataCont > div > h4{
	margin: 0px 0px 8px 0px;
	opacity: 0;
}

.dataCont > div > h4:first-of-type{
	opacity: 1;
}

.dataDivOpen > h4{
	opacity: 1 !important;
}

.dataCont > div > ul{
	padding-left: 35px;
}

.dataCont > div > ul > li{
	margin-bottom: 5px;
}

.dataCont > div > img{
	width: 100%;
}

.dataCont > div > div{
	height: 48px;
	border-top: solid 1.5px var(--gray);
	overflow: hidden;
}

.usageOpen{
	height: fit-content !important;
}

.dataCont > div > div > h3{
	margin: 12px 0px 15px 0px;
	position: relative;
}

.dataCont > div > div > h3 > img{
	height: 20px;
	position: absolute;
	top: 2px;
	right: 5px;
}

.usageOpen > h3 > img{
	transform: rotate(90deg);
}

.dataCont > div > div > h4{
	margin: 0px 0px 5px 0px;
	opacity: 0;
}

.dataCont > div > div > h4:first-of-type{
	opacity: 1;
}

.usageOpen > h4{
	opacity: 1 !important;
}

.dataCont > div > div > h5{
	
}

.dataCont > div > div > ol{
	padding-left: 35px;
}

.dataCont > div > div > ol > li{
	margin-bottom: 5px;
}

@font-face{
    font-family: "NewRodin Pro";
    src:
        local("FOT-NewRodin Pro M"),
        url("/-stuff/-fonts/FOT-NewRodin Pro M.otf");
    font-weight: 200;
}

@font-face{
    font-family: "NewRodin Pro";
    src:
        local("FOT-NewRodin Pro B"),
        url("/-stuff/-fonts/FOT-NewRodin Pro B.otf");
    font-weight: 500;
}

@font-face{
    font-family: "NewRodin Pro";
    src:
        local("FOT-NewRodin Pro EB"),
        url("/-stuff/-fonts/FOT-NewRodin Pro EB.otf");
    font-weight: 900;
}

@font-face{
    font-family: "RodinNTLG Pro";
    src:
        local("FOT-RodinNTLG Pro M"),
        url("/-stuff/-fonts/FOT-RodinNTLG Pro M.otf");
    font-weight: 200;
}

@font-face{
    font-family: "RodinNTLG Pro";
    src:
        local("FOT-RodinNTLG Pro B"),
        url("/-stuff/-fonts/FOT-RodinNTLG Pro B.otf");
    font-weight: 500;
}

@font-face{
    font-family: "RodinNTLG Pro";
    src:
        local("FOT-RodinNTLG Pro EB"),
        url("/-stuff/-fonts/FOT-RodinNTLG Pro EB.otf");
    font-weight: 900;
}